<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="logo">
                <h1>Sentiment Analysis Tool</h1>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL here">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <h1>Results:</h1>
                <div id="results">
                    <div class="res" id="confidence"></div>
                    <div class="res" id="subjectivity"></div>
                    <div class="res" id="irony"></div>
                    <div class="res" id="score"></div>
                </div>
            </section>
        </main>

        <footer>
            <p></p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
